.flex {
  display: flex;
  flex-direction: column;
}

.accordion {
  width: 500px;
}

.title,
.content {
  color: black;
  border: 2px solid black;
}

.title {
  font-size: 24px;
  background-color: rgb(165, 165, 165);
}

.title:hover {
  cursor: pointer;
}

.content {
  text-align: left;
  box-sizing: border-box;
  padding: 5px 10px;
  background-color: white;
}

.hidden {
  display: none !important;
}
